@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins;
}
.navbar{
  background-color: #F2F4F6 !important;
}
.nav-link{
  color: #204849;
  font-size: 20px;
  font-weight: bold;
}
.navbar>.navbar-brand>.logo-img{
  width:"200px" ;
}
.intro {
  height: 600px;
  background-color: #204849;
  color: aliceblue;
  display: flex;
flex-direction: column;
justify-content: center;
}

.intro-text {
  /* background-color: burlywood; */
  font-size: clamp(10px,10vh,30px);
padding: 80px 0 0 80px;
display: flex;
flex-direction: column;
align-items: center;
}
.intro-img {
    display: flex;
    justify-content: center;
}
.my-img{
  width: 50%;
    border: 50px solid rgba(106, 239, 244, 0.366);
    border-radius: 50%;
}
.name {
  color: aquamarine;
}
.resume-btn{
  padding: 10px 20px;
  margin: 5px;
  color: #204849;
  background-color: aquamarine;
  border: 2px slategrey;
  border-radius: 5%;
}
.resume-btn:hover{
  cursor: pointer;
  background-color: rgba(106, 239, 244, 0.366);
  color: antiquewhite;
}
#contact,#skills,#about-me{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(133, 242, 246, 0.301);
    padding-bottom: 20px;

}
.about{
    padding: 40px;
    background-color:rgba(133, 242, 246, 0.301);
 
}
.side-heading{
        font-size:clamp(30px,6vh,40px);
        font-weight: bold;
        margin-bottom:20px ;
}

.about-para{
    font-size: clamp(5px,6vh,18px);
    font-weight: 20px;
   
    padding: 20px;
}
.about-img-col{
    display: flex;
  justify-content: center;
}
.about-img{
    width: 80%;
}


.tech-icon{
  width: 80px;
  margin:50px  20px;
  
}
.contact-icons{
  width: 60px;
}
.contact-icon-way>a{
  display: flex;
  flex-direction: row;
 align-items: center;
 margin-bottom: 20px;
 text-decoration: none;
 color: black;
}
.contact-icon-way>a:hover{
  cursor: pointer;
  color: #204849;
}
.contact-icon-way>a>img{
  margin-right: 10px ;
}
.message{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-t{
  font-size: clamp(6px,6vh,12px);
  font-weight: bold;
  letter-spacing: 2px;
}
.inputs{
  margin-bottom: 10px;
border: 2px solid #204849;
padding: 5px;


}
.button{
  padding: 10px 20px;
  background-color:#204849 ;
  color: aliceblue;
font-size: 15px;
font-weight: bold;
letter-spacing: 1px;
border: 1px solid aliceblue;
border-radius: 5%;
}
.button:hover{
  cursor: pointer;
  color: #204849;
  background-color: aliceblue;
  border: 1px solid #204849;
}

 @media only screen and (max-width: 468px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .intro {
    display: flex;
flex-direction: row;
justify-content: center;
padding-bottom: 50px;
  }
  .intro-text{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-left: 0%;
  }
  .my-img{
    width: 40%;
    border: 20px solid rgba(106, 239, 244, 0.366);
    border-radius: 50%;
  }
  .about{
    padding: 10px;
  }
  .contact-icons{
    width: 40px;
  }
  .tech-icon{
    width: 20%;
    margin: 5px;
    
  }
  .tech-stack-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
} 